body{
    background-color: azure;
}



.container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid rgb(0, 0, 0)  ;
    border-radius: 10px;
    background-color: rgb(16, 141, 163);

}


.score{
    display: flex;
    justify-content: space-around;
}


.home>h1{
    
    display: block;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 100px;
    text-align: center;
    background-color: rgb(20, 19, 19);
    color: rgb(206, 48, 48);
    font-weight: lighter;
    margin-bottom: 15px;
    margin-top: 0px;
}
.home>p{
    font-weight:lighter;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}
.button{
    
    margin-bottom: 15px;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    text-shadow: rgb(38, 0, 255) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-items: center;
}

.button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}


.reset{
    display: flex;
    width: 400px;
    justify-content: center;

}


/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}